name: CICD

on:
  push:
    branches: 
      - main

permissions:
  contents: write 

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Clean build directory
        run: |
          if (Test-Path build) {
            Remove-Item -Recurse -Force build
          }
      
      - name: Configure CMake
        run: cmake -S . -B build
        
      - name: Build with CMake
        run: cmake --build build --config Release

      - name: Copy input file for Windows
        run: copy ip_filter.tsv build\ip_filter.tsv

      - name: List build contents (Windows)
        run: dir build\

      - name: Upload Windows Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: windows-build
          path: build/

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Clean build directory
        run: rm -rf build

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake

      - name: Configure CMake
        run: cmake -S . -B build

      - name: Build project
        run: cmake --build build --config Release

      - name: Copy input file for Linux
        run: cp ip_filter.tsv build/ip_filter.tsv

      - name: List build contents (Linux)
        run: ls -la build/  

      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: build/

  create-release:
    needs: [build-windows, build-linux]  
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' 
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Download Windows Artifacts
        uses: actions/download-artifact@v4
        with:
          name: windows-build
          path: windows-artifacts

      - name: Download Linux Artifacts
        uses: actions/download-artifact@v4
        with:
          name: linux-build
          path: linux-artifacts

      - name: Debug - List downloaded files
        run: |
          echo "Windows artifacts:"
          find windows-artifacts -name "*.exe" -o -name "*.dll"
          echo "Linux artifacts:"
          find linux-artifacts -type f -executable

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ github.run_number }}
          name: Release v${{ github.run_number }} 
          draft: false
          prerelease: false
          files: | 
            windows-artifacts/Release/laboratory2.exe
            windows-artifacts/Release/ip_filter.tsv
            linux-artifacts/laboratory2
            linux-artifacts/ip_filter.tsv

#release-drafter
